:root{
    --turquoise: #40e0d0;
    --thistle: #36263f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

/*Elementos base*/

body{
    background-color: var(--thistle);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.Logo {
    margin-left: 5px;
    color: var(--turquoise);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/*Filme principal*/
.filme-principal {
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/capa-voices.jpg);

    height: 400px;
    background-size: cover;
    

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.filme-principal .descricao {
    margin-bottom: 40px;
    
}

.titulo {
    font-size: 40px;
}
